#root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background: #1f242d;
  color: #fff;
  margin: 0;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: #1f242d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: 600;
  cursor: default;
}

.left-item {
  flex: 1; 
  color: #0ef;
  font-size: 2.5rem;
  list-style-type: none;
  display: flex;


}
.nav-list {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 1rem;
  padding: 0rem;
  text-decoration: none;
  list-style-type: none;
}

.nav-list a {
  text-decoration: none;
  color: #fff;
}

.nav-list .nav-item h2 {
  text-decoration: none;
  padding: .5rem;
}

.nav-item a:hover,
.nav-item a h2.active {
  color: #0ef;
}

#menu-icon {
  font-size: 2.6rem;
  color: #fff;
  display: none;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-image img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25;
  width: 40vw;
  border-radius: 50px;
}

.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
  margin-right: 2rem;
}

.home-content h1 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
}

.home-content p {
  font-size: 1.6rem;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid #0ef;
  border-radius: 50%;
  font-size: 2rem;
  color: #0ef;
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}

.social-media a:hover {
  background: #0ef;
  color: #323946;
  box-shadow: 0 0 1rem #0ef;
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: #0ef;
  border-radius: 4rem;
  box-shadow: 0 0 1rem #0ef;
  font-size: 1.6rem;
  color: #323946;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
}

.btn:hover {
  box-shadow: none;
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: #323946;
}

.about-image {
  display: flex;
  justify-content: center;
  border-radius: 2.5rem;
  width: 40vw;
 
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

span {
  color: #0ef;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
